/* You can add global styles to this file, and also import other style files */
@import './assets/vendor/semantic.min.css';


.ui.grid.animals>.row>.three.column.grid {
    border: 1px solid black; 
    
}

.animal-images{
    border-radius: 50%;
    border-color: white;
}


